[Desktop Entry]
Name=My Computer
Name[af]=My Rekenaar
Name[ar]=جهاز الكمبيوتر الخاص بي
Name[de]=Mein Computer
Name[es]=Mi Computadora
Name[eu]=Nire Ordenagailua
Name[fr]=Mon ordinateur
Name[hi]=मेरा कंप्यूटर
Name[id]=Komputer saya
Name[pt]=Meu Computador
Name[pt_BR]=Meu Computador
Name[tr]=Bilgisayar
GenericName=Computer
GenericName[af]=Rekenaar
GenericName[ar]=حاسوب
GenericName[de]=Computer
GenericName[es]=Computadora
GenericName[eu]=Ordenagailua
GenericName[fr]=Ordinateur
GenericName[hi]=कंप्यूटर
GenericName[id]=Komputer
GenericName[pt]=Computador
GenericName[pt_BR]=Computador
GenericName[tr]=Bilgisayar
Comment=My Computer, UI for information and management of disks on your computer.
Comment[af]=My Rekenaar, UI vir inligting en bestuur van skywe op jou rekenaar.
Comment[ar]=جهاز الكمبيوتر ، واجهة المستخدم للحصول على المعلومات وإدارة الأقراص الموجودة على جهاز الكمبيوتر الخاص بك.
Comment[de]=Arbeitsplatz, UI für Informationen und Verwaltung von Festplatten auf Ihrem Computer.
Comment[es]=Mi PC, interfaz de usuario para información y administración de discos en su computadora.
Comment[eu]=Nire ordenagailua, zure ordenagailuko diskoen informazioa eta kudeaketarako UI.
Comment[fr]=Poste de travail, interface utilisateur d'information et de gestion des disques sur votre ordinateur.
Comment[hi]=मेरा कंप्यूटर, आपके कंप्यूटर पर डिस्क की जानकारी और प्रबंधन के लिए UI।
Comment[id]=Komputer saya, UI untuk informasi dan pengelolaan disk di komputer Anda.
Comment[pt]=Meu computador, interface para informação e gerenciamento de discos no seu computador.
Comment[pt_BR]=Meu computador, interface para informação e gerenciamento de discos no seu computador.
Comment[tr]=Bilgisayarım, diskleriniz için bilgi ve yönetim arayüzü.
Exec=mauna-mycomputer
Icon=mauna-mycomputer
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=this computer,mauna computer
Keywords[es]=este computador,computadora mauna
Keywords[pt]=este computador,computador mauna
Keywords[tr]=bu bilgisayar,mauna bilgisayar
