[Desktop Entry]
Name=My Computer
Name[af]=My Rekenaar
Name[ar]=جهاز الكمبيوتر الخاص بي
Name[ca]=El meu ordinador
Name[de]=Mein Computer
Name[es]=Mi Computadora
Name[eu]=Nire Ordenagailua
Name[fr]=Mon ordinateur
Name[he]=המחשב שלי
Name[hi]=मेरा कंप्यूटर
Name[id]=Komputer saya
Name[it]=Il mio computer
Name[ja]=ぼくのコンピュータ
Name[ko]=내 컴퓨터
Name[nl]=Mijn computer
Name[pl]=Mój komputer
Name[pt]=Meu Computador
Name[pt_BR]=Meu Computador
Name[tr]=Bilgisayar
Name[zh_CN]=我的电脑
GenericName=Computer
GenericName[af]=Rekenaar
GenericName[ar]=حاسوب
GenericName[ca]=Ordinador
GenericName[de]=Computer
GenericName[es]=Computadora
GenericName[eu]=Ordenagailua
GenericName[fr]=Ordinateur
GenericName[he]=מַחשֵׁב
GenericName[hi]=कंप्यूटर
GenericName[id]=Komputer
GenericName[it]=Computer
GenericName[ja]=コンピューター
GenericName[ko]=컴퓨터
GenericName[nl]=Computer
GenericName[pl]=Komputer
GenericName[pt]=Computador
GenericName[pt_BR]=Computador
GenericName[tr]=Bilgisayar
GenericName[zh_CN]=电脑
Comment=My Computer, UI for information and management of disks on your computer.
Comment[af]=My Rekenaar, UI vir inligting en bestuur van skywe op jou rekenaar.
Comment[ar]=جهاز الكمبيوتر ، واجهة المستخدم للحصول على المعلومات وإدارة الأقراص الموجودة على جهاز الكمبيوتر الخاص بك.
Comment[ca]=El meu ordinador, interfície d'usuari per a la informació i gestió dels discos del vostre ordinador.
Comment[de]=Arbeitsplatz, UI für Informationen und Verwaltung von Festplatten auf Ihrem Computer.
Comment[es]=Mi PC, interfaz de usuario para información y administración de discos en su computadora.
Comment[eu]=Nire ordenagailua, zure ordenagailuko diskoen informazioa eta kudeaketarako UI.
Comment[fr]=Poste de travail, interface utilisateur d'information et de gestion des disques sur votre ordinateur.
Comment[he]=המחשב שלי, ממשק משתמש למידע וניהול דיסקים במחשב שלך.
Comment[hi]=मेरा कंप्यूटर, आपके कंप्यूटर पर डिस्क की जानकारी और प्रबंधन के लिए UI।
Comment[id]=Komputer saya, UI untuk informasi dan pengelolaan disk di komputer Anda.
Comment[it]=Risorse del computer, interfaccia utente per le informazioni e la gestione dei dischi del computer.
Comment[ja]=マイ コンピュータ。コンピュータ上のディスクの情報と管理のための UI。
Comment[ko]=내 컴퓨터, 컴퓨터의 디스크 정보 및 관리를 위한 UI입니다.
Comment[nl]=Mijn computer, gebruikersinterface voor informatie en beheer van schijven op uw computer.
Comment[pl]=Mój komputer, interfejs użytkownika umożliwiający uzyskiwanie informacji i zarządzanie dyskami na komputerze.
Comment[pt]=Meu computador, interface para informação e gerenciamento de discos no seu computador.
Comment[pt_BR]=Meu computador, interface para informação e gerenciamento de discos no seu computador.
Comment[tr]=Bilgisayarım, diskleriniz için bilgi ve yönetim arayüzü.
Comment[zh_CN]=我的电脑，用于计算机上磁盘信息和管理的 UI。
Exec=mauna-mycomputer
Icon=mauna-mycomputer
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=this computer,mauna computer
Keywords[es]=este computador,computadora mauna
Keywords[pt]=este computador,computador mauna
Keywords[tr]=bu bilgisayar,mauna bilgisayar
